.gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media screen and (min-width: 992px) {
    .gallery-grid {
        grid-template-columns: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}