html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* GDPR */
.gdpr-consent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
}

.gdpr-consent__description {
    display: flex;
    justify-content: center;
}

.gdpr-consent__choice {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
}

.gdpr-consent__button--accept {
    background-color: #d5f5d5;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

    .gdpr-consent__button--accept:hover {
        background-color: #c5e3c5;
    }

.gdpr-consent__button--reject {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/*spinning bar*/
.loader {
    border: 5px solid #f3f3f3;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}