@{
    ViewData["Title"] = "Global Chat";
}
<link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Global Chat</h1>

    <!--TODO USE WEBCOMPONENTS-->
    <div class="chat">
    <section id="roomslist">
            <div class="bg-light room-list" id="roomsdata">
            <ul class="list-group">
                <li class="list-group-item">Available Rooms: <small id="roomsLength"></small></li>
                <li class="list-group-item room" data-rid="" data-title="">
                    <a href="#">
                        <div class="title"></div>
                    </a>
                </li>
            </ul>
</div>

<div>
            <div class="card card-body bg-light actions">
            <button class="btn createroom">Create Room</button>
        </div>
        <!-- In Call Actions -->
        <div class="card card-body bg-light actions">
            <div id="callstatus" class="status">Idle</div>
            <button id="leavebutton" class="btn btn-danger hangup hide">Leave</button>
            <button id="deletebutton" class="btn btn-danger delete hide">Delete Room</button>
        </div>
            </div>
    </section>

    <section id="chat">
            <div class="bg-light user-list" id="chatpane">
            <div class="">
                <div class="">
                    <ul id="messagesList"></ul>
                </div>
            </div>
        </div>
            <br />
            <div class="bg-light" id="chatinput">
                <div class=""><input type="text" class="w-100" id="messageInput" /></div>
                <br />
                <input type="button" id="sendButton" value="Send Message" />
            </div>
    </section>

    <section id="userslist">
            <div class="navbar-text bg-light">
                You are <span id="upperUsername"></span>
            </div>
            <div class="bg-light user-list" id="usersdata">
            <ul class="list-group">
                <li class="list-group-item">Online Users: <small id="usersLength"></small></li>
                <li class="list-group-item user" data-cid="" data-username="">
                    <a href="#">
                        <div class="username"></div>
                        <div class="helper" data-bind="css: $parent.getUserStatus($data)"></div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    </div>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script defer src="~/js/chat/chat.js"></script>

</div>