@{
    ViewData["Title"] = "Global Chat";
}

<link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
<script type="module" defer src="~/js/chat/chat.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>

<div class="text-center">
    <h1 class="display-4">Global Chat</h1>
    <div class="chat">
        <chat-list type="room"></chat-list>
        <chat-pane></chat-pane>
        <chat-list type="user"></chat-list>
    </div>
</div>