@page
@model ChangeFriendsModel
@{
    ViewData["Title"] = "My Friends";
    //ViewData["ActivePage"] = ManageNavPages.Friends;
}

<h3>@ViewData["Title"]</h3>
<script type="module" defer src="~/js/chat/friends.js"></script>
<link rel="stylesheet" href="~/css/friend.css" asp-append-version="true" />
<script src="~/js/signalr/dist/browser/signalr.js"></script>

<div class="row align-items-start friends">
    <div class="col friends-div">
        <chat-list type="friend" myfriends=0></chat-list>
    </div>
    <div class="col friends-div">
        <chat-list type="friend" myfriends=1></chat-list>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
