@model TakenlijstManager.Data.Entities.Taak

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Taak</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Omvang" class="control-label"></label>
                <input asp-for="Omvang" class="form-control" />
                <span asp-validation-for="Omvang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prioriteit" class="control-label"></label>
                <input asp-for="Prioriteit" class="form-control" />
                <span asp-validation-for="Prioriteit" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <span asp-validation-for="StatusId" class="text-danger"></span>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.Statussen"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
